.anchor{
    max-width: 95%;
    margin: 0 auto;
    text-align: right;
    position: fixed;
    bottom: 2%;
    right: 2%;

        i{
            font-size: 25px;
            cursor: pointer;
        }

}
