$left_contacts: 50px;
.contacts{
    max-width: 95%;
    margin: 0 auto;
    h2{
        text-align: center;
    }
    .phone{
        display: flex;
        justify-content : space-around;
        margin: 20px;
        font-size: 25px;
        font-style: italic;
        @media only screen and (max-width: 900px){
            font-size: 20px;
        }
        @media only screen and (max-width: 750px){
            display: inline;
            text-align: center;
            margin: 0;
        }
    }
    article{
        h3{
            text-align: center;
            @media only screen and (max-width: 350px){
                font-size: 20px;
            }
        }
        .about-my-work{
            display: flex;
            justify-content : space-around;
            max-width: 80%;
            margin: 10px auto 40px;
            font-style: italic;
            @media only screen and (max-width: 750px){
                display: block;
                margin: 10px auto;
                max-width: 95%
            }
            div{
                flex-grow: 1;
                div{
                    width: 400px;
                    height: 400px;
                    background-image: url(../images/main_gallery/kontact_me.jpg);
                    background-size:cover;
                    border-radius: 50%;
                    margin: 0 auto;
                    @media only screen and (max-width: 900px){
                        width: 300px;
                        height: 300px;
                    }
                    @media only screen and (max-width: 750px){
                        margin-top: 40px;
                    }
                    @media only screen and (max-width: 400px){
                        width: 250px;
                        height: 250px;
                    }
                    }
                    article{
                        text-align: center;
                        padding: 0 0 20px;
                        margin: 0 20%;
                        min-width: 240px;
                        @media only screen and (max-width: 400px){
                            min-width: 60%;
                        }
                        h5{
                            font-weight: bold;
                            font-size: 25px;
                            padding-bottom: 80px;
                        }
                        h2,h3,h4{
                            padding-bottom: 10px;
                        }
                        h4{
                            @media only screen and (max-width: 400px){
                                font-size: 16px;
                            }
                        }
                        span{
                            margin: 0 3%;
                            a{
                                color: gray;
                                i{font-size: 30px;
                                   @media only screen and (max-width: 400px){
                                       font-size: 30px;
                                   }
                                }
                            }
                            a:hover{
                                color: black;
                            }
                        }
                    }
                    p{
                        font-size: 14px;
                        text-align: justify;
                        padding: 20px;
                        padding-left: 10%;
                        @media only screen and (max-width: 900px){
                            font-size: 12px;
                            padding-left: 6%;
                        }
                    }
            }
        }
    }
}
.horizon_line{
    border-top: 1px solid gray;
    margin: 0 10%;
    margin-bottom: 50px;
}
