.drop_down
    p
        a(href="index.html") Головна
    p
        a(href="about.html") Про мене
    p
        a(href="portfolio.html") Портфоліо
    p
        a(href="video.html") Відео
    //- p
        a(href="blog.html") Блог
    p
        a(href="contacts.html") Контакти
