footer
    div
    div
        .footer_icons
            
            a(href="https://www.instagram.com/dima_fal/")
                i(class="fa  fa-instagram" aria-hidden="true")
            
            a(href="https://www.facebook.com/dimafalat")
                i(class="fa  fa-facebook-square" aria-hidden="true")
            
            a(href="https://vk.com/dima_falatyuk")
                i(class="fa fa-vk" aria-hidden="true")
            
            a(href="https://www.youtube.com/user/95Dimaz")
                i(class="fa  fa-youtube" aria-hidden="true")
    div