.exemples
    .figure
        div(id="exemple_1")
            h3 Весілля Марини та Віталія
        p
            a(href="albom1.html")
                img(src='images/portfolio_exemples/albom_ob_1.jpg', alt='exemple_1' width="1920", height="1282")
    .figure
        div(id="exemple_2")
            h3 Весілля Ірини та Андрія
        p
            a(href="albom2.html")
              img(src='images/portfolio_exemples/albom_ob_2.jpg', alt='exemple_2' width="1920", height="1282")
    .figure
        div(id="exemple_3")
            h3 Весілля Валентини та Олексія
        p
            a(href="albom3.html")
                img(src='images/portfolio_exemples/albom_ob_3.jpg', alt='exemple_3' width="1920", height="1282")                                

.exemples
    .figure
        div(id="exemple_4")
            h3 Love story Евгенії та Сергія
        p
            a(href="albom4.html")
                img(src='images/portfolio_exemples/albom_ob_4.jpg', alt='exemple_4' width="1920", height="1282") 
    .figure
        div(id="exemple_5")
            h3 Весілля Альони та Леоніда
        p
            a(href="albom5.html")
                img(src='images/portfolio_exemples/albom_ob_5.jpg', alt='exemple_5' width="1920", height="1282") 
    .figure
        div(id="exemple_6")
            h3 Після весільна зйомка Саші та Сергія
        p
            a(href="albom6.html")
                img(src='images/portfolio_exemples/albom_ob_6.jpg', alt='exemple_6' width="1920", height="1282") 
              
              
              
  
              
    
