.carousel(class="slide" id="carousel")
    ol(class="carousel-indicators")
        li(class="active" data-target="#carousel" data-slide-to="0")
        li(data-target="#carousel" data-slide-to="1") 
        li(data-target="#carousel" data-slide-to="2")
        li(data-target="#carousel" data-slide-to="3")
        li(data-target="#carousel" data-slide-to="4")
        li(data-target="#carousel" data-slide-to="5")
        li(data-target="#carousel" data-slide-to="6")
        li(data-target="#carousel" data-slide-to="7")
        li(data-target="#carousel" data-slide-to="8")
        li(data-target="#carousel" data-slide-to="9")
    .carousel(class="carousel-inner")
        .item(class="active")
            img(src="images/main_gallery/main_11.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_12.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_13.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_14.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_15.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_16.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_17.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_18.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_19.jpg" alt="main_slider" width="1920" height="1080")
        .item
            img(src="images/main_gallery/main_20.jpg" alt="main_slider" width="1920" height="1080")
    a(href="#carousel" class="left carousel-control" data-slide="prev")
        //- span(class="glyphicon glyphicon-chevron-left")
        .arrow-block
            i(class="fa fa-chevron-left arrow")
    a(href="#carousel" class="right carousel-control" data-slide="next")
        //- span(class="glyphicon glyphicon-chevron-right")
        .arrow-block
            i(class="fa fa-chevron-right arrow")
