doctype html
html(lang="zxx")
    include ../modules/head
    body
        main
            .header
                include ../modules/drop_down
                include ../modules/navigation
            .content
                h1 Про мене
                .about_me
                    .container 
                        article
                            p Привіт, мене звати Діма!
                            p Мені 22, і я захоплююсь фотографією вже 7 років. На даний момент це найбільша моя пристрасть,     і більшість часу йде саме на це. Якщо виділяти серед багатьох видів зйомок одну, то наразі    найбільше задоволення отримую від ВЕСІЛЬНИХ зйомок. Це неповторний день, коли із закоханої пари     створюється сім'я та поєднуються дві родини. День, до якого ви готуєтесь  півроку, а то і   більше.  День, який ви розділите з найближчими і найбажанішими гостями, в компанії рідних та    близьких. Саме цього дня можна зловити та зафіксувати у фото унікальні, глибокі емоції, які     ніколи не повторюються! І це надзвичайно мене окриляє! А особливо, коли після отримання фото,   люди пишуть приємні відгуки про мою роботу, це надихає та дає стимул розвиватись ще більше й    більше!
                            
                            p У мене є багато захоплень, пов’язаних з активним відпочинком, що мотивує та додає неабиякої   енергії. Туризм у будь-яких проявах, чи то автономний піший похід в гори на декілька днів, чи то    на велосипеді, чи сплав по річці – це все додає мені нереального драйву та надихає на розвиток і    працю. Гори для мене - це особлива любов і натхнення. В такі моменти розумієш, що ти малесенька     комашка у цьому світі, але все в твоїх силах, усі вершини можуть бути підкорені!  Для прикладу,     зима асоціюється зі сноубордингом. Обожнюю поїздки будь-куди, але надаю перевагу природі. Адже  саме атмосфера природи дозволяє поставити усе на паузу та насолодитись моментом.
                            
                            p І, звичайно, я люблю експериментувати абсолютно в різних жанрах фото, останній час пробую     знімати невеличкі відео, надихаючись якісним контентом на Youtube. Не уявляю життя без своїх    друзів та радий новим знайомствам. Тому завжди відкритий для спілкування та співпраці!
                        .author
                            img(src="images/author_tiny.jpg" alt="author" width="720" height="1080")
                
            
            
            .footer
                .horizon_line
                include ../modules/footer
        include ../modules/anchor 
        include ../modules/scripts            
