doctype html
html(lang="zxx")
    include ../modules/head
    body
        include ../modules/drop_down
        include ../modules/navigation
        include ../modules/main-carousel
        .about_me
            .container 
                article
                    p Привіт, мене звати Діма!
                    p Мені 22, і я захоплююсь фотографією вже 7 років. На даний момент це найбільша моя пристрасть, і більшість часу йде саме на це. Якщо виділяти серед багатьох видів зйомок одну, то наразі найбільше задоволення отримую від ВЕСІЛЬНИХ зйомок. Це неповторний день, коли із закоханої пари створюється сім'я та поєднуються дві родини. День, до якого ви готуєтесь  півроку, а то і більше.  День, який ви розділите з найближчими і найбажанішими гостями, в компанії рідних та близьких. Саме цього дня можна зловити та зафіксувати у фото унікальні, глибокі емоції, які ніколи не повторюються! І це надзвичайно мене окриляє! А особливо, коли після отримання фото, люди пишуть приємні відгуки про мою роботу, це надихає та дає стимул розвиватись ще більше й більше!

     
                    p У мене є багато захоплень, пов’язаних з активним відпочинком, що мотивує та додає неабиякої енергії. Туризм у будь-яких проявах, чи то автономний піший похід в гори на декілька днів, чи то на велосипеді, чи сплав по річці – це все додає мені нереального драйву та надихає на розвиток і працю. Гори для мене - це особлива любов і натхнення. В такі моменти розумієш, що ти малесенька комашка у цьому світі, але все в твоїх силах, усі вершини можуть бути підкорені!  Для прикладу, зима асоціюється зі сноубордингом. Обожнюю поїздки будь-куди, але надаю перевагу природі. Адже саме атмосфера природи дозволяє поставити усе на паузу та насолодитись моментом.

 
                    p І, звичайно, я люблю експериментувати абсолютно в різних жанрах фото, останній час пробую знімати невеличкі відео, надихаючись якісним контентом на Youtube. Не уявляю життя без своїх друзів та радий новим знайомствам. Тому завжди відкритий для спілкування та співпраці!
                .author
                    img(src="images/author_tiny.jpg" alt="author" width="720" height="1080")
        section(class="main-exempls")
            h2 Mої роботи
            include ../modules/main_portfolio
        section(class="contacts")
            h2 Контакти
            article
                h6  &ensp;
                .about-my-work
                    div
                        div
                    div
                        article
                            h5 Дмитро Фалатюк
                            h3 Стежити за мною
                            span
                                a(href="https://www.instagram.com/dima_fal/")
                                    i(class="fa fa-instagram" aria-hidden="true")
                            span            
                                a(href="https://www.facebook.com/dimafalat")
                                    i(class="fa  fa-facebook-square" aria-hidden="true")
                            span            
                                a(href="https://vk.com/dima_falatyuk")
                                    i(class="fa fa-vk" aria-hidden="true")
                            span            
                                a(href="https://www.youtube.com/user/95Dimaz")
                                    i(class="fa  fa-youtube" aria-hidden="true")        
                            h2 Україна м.Вінниця 
                            h4 +38(063) 590 - 75 - 07
                        //- p Lorem ipsum dolor sit amet. Cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus omnis. Corrupti, quos dolores et aut odit. Exercitationem ullam corporis suscipit laboriosam. Cum soluta nobis est laborum. Possimus, omnis dolor repellendus impedit. Nisi ut aut fugit, sed ut aliquid. Porro quisquam est, qui dolorem eum iure reprehenderit, qui ratione voluptatem. A sapiente delectus, ut aut rerum facilis est eligendi. Cum soluta nobis est laborum et dolorum. Porro quisquam est, omnis iste natus error sit voluptatem. Ipsum, quia dolor sit, aspernatur aut fugit. Accusantium doloremque laudantium, totam rem aperiam eaque. Mollitia animi, id est eligendi optio, cumque nihil impedit. Expedita distinctio placeat, facere possimus, omnis iste natus. Maiores alias consequatur aut officiis debitis aut officiis debitis. Sint, obcaecati cupiditate non numquam eius modi. Ea commodi autem quibusdam. Quod maxime placeat, facere possimus, omnis iste natus error sit voluptatem sequi. Voluptatibus maiores alias consequatur aut officiis debitis. Laboriosam, nisi ut aliquid ex ea commodi autem. Officiis debitis aut officiis debitis aut fugit, sed quia. Deserunt mollitia animi, id est eligendi optio. Nam libero tempore, cum soluta nobis est laborum et accusamus et dolorum. Accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque. Deleniti atque corrupti, quos dolores eos, qui voluptate velit esse quam.
        include ../modules/anchor        
        .horizon_line
        include ../modules/footer
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        //  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        script(src ="js/bootstrap.min.js")
        script(src ="js/libs.min.js")
        script(src ="js/main.js")    
