doctype html
html(lang="zxx")
    include ../modules/head
    body
        main
            .header
                include ../modules/drop_down
                include ../modules/navigation
                h1 Відео
            .video_content
                .video_exmple
                    p Відео для кафе-пабу Корсар м.Калинівка 
                    iframe( width="299" height="168" src="https://www.youtube.com/embed/xHS2ig0Kbbw"    allowfullscreen id="video_3")     
                .video_exmple
                    p Як вам початок зими? Особисто я в захваті! Як тільки помітив що робиться за вікном швиденько взяв фотоаппарат та побіг знімати. Неспішно прогулявся в Калинівці по берегу спиртзаводського ставка та в центрі. Намагався передати вам цю красу природи та життя в невеличкому містечку.    
                    iframe( width="299" height="168" src="https://www.youtube.com/embed/KaYx0xz02B4"     allowfullscreen id="video_2")
                .video_exmple
                    p Відео портрет для Ані  
                    iframe( width="299" height="168" src="https://www.youtube.com/embed/V-DUp5tbinw"    allowfullscreen id="video_1") 
                    
                       
                   
                   
            .footer
                .horizon_line
                include ../modules/footer
        include ../modules/anchor 
        include ../modules/scripts    
